<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Notes - Google Docs</title>
	<link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>


</head>
<body>
<textarea name="Messages" id="chat-room-messages" cols="30" rows="10"> </textarea>
<form>
	<label for="<Messagee>">Message:</label><br>
	<input type="text" id="chat-message-input" name="Message"><br>
	<input type="submit" value="Submit" id="chat-message-submit">
</form>
{{ room_name|json_script:"room-name" }}
</body>
</html>

<script>
	let name;
    window.onload=function() {

        name=prompt('Enter username (bobby will code nicer ui and account creation later, right now no authentication');

    }
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );
    const input = document.getElementById('chat-message-input');
    const submit = document.getElementById('chat-message-submit');

    function sendMessage() {
        let message = input.value;
        chatSocket.send(JSON.stringify({
	        'message': name+": "+message
        }));
        input.value = "";
        console.log(message);
    }



    submit.addEventListener('click', (e) => {
        e.preventDefault();
        sendMessage();
        return false;
    });
	chatSocket.onmessage = function(event){
        const data = JSON.parse(event.data);
        document.getElementById("chat-room-messages").value += data.message + "\n";
        console.log("Message received:" + data.message)
	}
    chatSocket.onerror = function(event){
        document.getElementById("chat-room-messages").value += "Websocket error: " + event + "\n";
    }
    chatSocket.onclose = function(event){
        document.getElementById("chat-room-messages").value += "Websocket disconnected! Please refresh page." + "\n";
    }

</script>