<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
	<meta charset="UTF-8">
	<title>Notes - Google Docs</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>


<div class="alert alert-warning alert-dismissible fade show" role="alert">
  Please note: this project is IN DEVELOPMENT and will have frequent changes. Messages are UNENCRYPTED. ANYONE CAN SEE YOUR MESSAGES. Currently messages are not saved anywhere. My server is easily exploitable so use at your own risk.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>




<div class="border p-2" id = "message-view" style="max-height: 80vh; overflow-y: auto;">
  <ul class="list-group" id = "messages">
  </ul>
</div>





<form>
	<label for="<Messagee>">Message:</label><br>
	<input type="text" id="chat-message-input" name="Message"><br>
	<input type="submit" value="Submit" id="chat-message-submit">
</form>
{{ room_name|json_script:"room-name" }}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>



<script>
	let name;
    window.onload=function() {
        
        name=prompt('Enter username (bobby will code nicer ui and account creation later, right now no authentication');
		scrollToBottom();
    }
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );
    const input = document.getElementById('chat-message-input');
    const submit = document.getElementById('chat-message-submit');
	
    function scrollToBottom() {
        const container = document.getElementById("message-view");
        container.scrollTop = container.scrollHeight;
    }
    function sendMessage() {
        let message = input.value;
        chatSocket.send(JSON.stringify({
	        'message': name+": "+message
        }));
        input.value = "";
        console.log(message);
    }



    submit.addEventListener('click', (e) => {
        e.preventDefault();
        sendMessage();
        return false;
    });
	chatSocket.onmessage = function(event){
        const data = JSON.parse(event.data);
		document.getElementById("messages").innerHTML += `<li class="list-group-item">` +data.message+ `</li>` + "\n";
        console.log("Message received:" + data.message)
		scrollToBottom();
	}
    chatSocket.onerror = function(event){
        document.getElementById("messages").innerHTML += `<li class="list-group-item">"Websocket error: ` + event + `</li>` + "\n"; 
    }
    chatSocket.onclose = function(event){
        document.getElementById("chat-room-messages").value += "Websocket disconnected! Please refresh page." + "\n";
    }

</script>
</html>